#logo{
    text-align: center;
}
ul,li{
    list-style-type: none;
}
/*underline effect*/
.un {
    display: inline-block;
    padding-bottom:5px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

/*boostrap modification*/

.offcanvas{
    --bs-offcanvas-height:auto;
}

#main-nav{
    min-height: 90%;
}

#teacher-menu, #student-menu, #subject-menu{
    display: none;
}

/* #nav-teachers:active{
    #teacher-menu{
        display: block;
    }
} */
